<!DOCTYPE html>

<html>
  
  <head>
    {% block head %}
    <title>Foodfy</title>
    {% endblock %}
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    {% include "parts/admin/header.njk" %}

    <div class="wrapper">
      {% block content %} {% endblock %}
    </div>

    {% include "parts/site/footer.njk" %}
    <script src="/script-admin.js"></script>
  </body>
</html>