{% extends 'layout-admin.njk' %}

{% block content %}
  <main class="user-dashboard container form">
    <form action="/admin/profile?_method=PUT" method="post">

      <div class="header">
        <h1>Bem vindo {{user.name}}</h1>
        <div class="buttons">
          <button type="submit">Salvar</button>
        </div>
      </div>
      
      <div class="fields">
        {% include "user/fields-show.njk" %}
        <input type="hidden" name="id" value="{{user.id}}">
      </div>
    </form>
  </main>
{% endblock %}