{% extends 'layout-admin.njk' %}

{% block content %}
  <main>
    <form action="/admin/chefs?_method=PUT" method="post">
      <div class="formChefHeader">
        <h1>Editando chef</h1>
        <div>
          <button id ="deleteButton" type="submit" form="form-delete">Deletar</button>
          <button type="submit">Salvar chef</button>
        </div>
      </div>
      
      {% include "admin/chefs/fields.njk" %}

      <input type="hidden" name="id" value="{{chef.id}}">
    </form>

    <form id="form-delete" action="/admin/chefs?_method=DELETE" method="POST" onsubmit="return confirm('Deseja deletar?')">
      <input type="hidden" name="id" value="{{chef.id}}">
    </form>
  </main>

{% endblock %}