<header>
  <nav class="menu">
    <div class="logotipo">
      <a href="/"><img src="/assets/logo.png" alt="Foodfy"></a>
    </div>
    
    <div class="links">
      <a href="/sobre">Sobre</a>
      <a href="/receitas">Receitas</a>
      <a href="/chefs">Chefs</a>
    </div>

    {%block filter%} {%endblock%}

  </nav>
</header>