* {
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100vh;
}

body {
  background: white;
  font-family: 'Roboto', sans-serif;

  /* essas propriedades são necessárias para fixar o footer ao final da página */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper-login {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

/* botão Sair(logout) */
.logout {
  justify-self: end
}

.logout button {
  color: #999999;
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #111111;
  border: none;
  cursor: pointer;
}

/* Login form */

.login.logotipo {
  text-align: center;
  margin: 35px 146px;
}

.login .header h1, .forgot-password .header h1, .reset-password .header h1 {
  text-align: center;
  margin-bottom: 35px;
  color: #111111;
} 

.forgot-password .header h1, .reset-password .header h1 {
  margin-top: 146px;
}

.formLogin h2, .form-forgotPassword h2, .form-resetPassword h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.formLogin input, .form-forgotPassword input, .form-resetPassword input {
  width: 100%;
  height: 49px;

  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  outline: none;

  color: #444444;
  font-size: 16px;
  padding-left: 5px;
  box-sizing: border-box;
}

.formLogin div:first-child {
  margin-bottom: 35px;
}

.form-resetPassword div {
  margin-bottom: 35px;
}

form .buttons div:first-child {
  margin-top: 5px;
  margin-bottom: 35px;
}

form .buttons div a{
  font-size: 16px;
  color: #969696;
  font-weight: bold;
}

form .buttons div a:hover {
  filter: brightness(0.5);
}

form .buttons div button, .forgot-password form .buttons button, .reset-password form .buttons button {
  height: 40px;
  width: 134px;

  background: #6558C3;
  border-radius: 4px;
  border-style: none;

  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.forgot-password form .buttons, .reset-password form .buttons {
  text-align: right;
}

.forgot-password form .buttons button{
  margin-top: 35px;
}

.buttons button:hover {
  filter: brightness(80%);
  transition: filter 500ms;
}

form .buttons div:last-child {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formLogin .error {
  color: #FF3131;
}