<div>
  <header class="header-background">
    <nav class="wrapper menu-admin">
      <div class="logotipo-admin">
        <a href="/admin/receitas"><img src="/assets/logo-admin.png" alt="Foodfy"></a>
      </div>

      <div class="links-admin">
        <a href="/admin/receitas">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
        <a href="/admin/profile/">Usuários</a>
      </div>
      <div class="logout">
        <form action="/admin/users/logout" method="POST">
          <button>Sair</button>
        </form>
      </div>
    </nav>
  </header>  
</div>