{% extends 'layout-admin.njk' %}

{% block content %}
  <main>
    <form action="/admin/receitas" method="post" enctype="multipart/form-data">

      <div class="formRecipeHeader">
        <h1>Criando receitas</h1>
        <button type="submit">Salvar receita</button>
      </div>
      
      {% include "admin/recipes/fields.njk" %}

    </form>
  </main>
{% endblock %}