{% extends 'layout-admin.njk' %}

{% block content %}
  <main class="user-admin-dashboard container form">
    <div class="header">
      <h1>Usuários</h1>
      <div class="buttons">
        <a href="/admin/users/register">Novo</a>
      </div>
    </div>
      
    <div class="users">
      <div class="user">
        <h2>Diego Fernandes</h2>
        <p>diego@rocketseat.com</p>
        <div class="links">
          <a href="#">Editar</a>
          <a href="#">Remover</a>
        </div>
      </div>

      <div class="user">
        <h2>Diego Fernandes</h2>
        <p>diego@rocketseat.com</p>
        <div class="links">
          <a href="#">Editar</a>
          <a href="#">Remover</a>
        </div>
      </div>

      <div class="user">
        <h2>Diego Fernandes</h2>
        <p>diego@rocketseat.com</p>
        <div class="links">
          <a href="#">Editar</a>
          <a href="#">Remover</a>
        </div>
      </div>

      <div class="user">
        <h2>Diego Fernandes</h2>
        <p>diego@rocketseat.com</p>
        <div class="links">
          <a href="#">Editar</a>
          <a href="#">Remover</a>
        </div>
      </div>
      
      <div class="user">
        <h2>Diego Fernandes</h2>
        <p>diego@rocketseat.com</p>
        <div class="links">
          <a href="#">Editar</a>
          <a href="#">Remover</a>
        </div>
      </div>

      <div class="user">
        <h2>Diego Fernandes</h2>
        <p>diego@rocketseat.com</p>
        <div class="links">
          <a href="#">Editar</a>
          <a href="#">Remover</a>
        </div>
      </div>
    </div>

  </main>
{% endblock %}